@page "/persona/modificar"
@rendermode InteractiveServer
@inject PersonaModificacionUseCase CasoModificacion
@inject PersonaConsultaUseCase PersonaConsulta
@inject NavigationManager Navigation
@inject IServicioUsuarioSesion Sesion

<PageTitle>SGCD | Personas</PageTitle>

<h3>Modificar Persona</h3>

@if (!visible)
{
    <label class="mt-2" for="inp">ID a modificar:</label>
    <InputNumber @bind-Value="idPersona" class="form-control" id="inp" />
    <button class="btn btn-primary mt-2" @onclick="Buscar">Buscar</button>
}
else
{
    @if (p != null)
    {
        <EditForm Model="p" OnValidSubmit="Modificar">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-2">
                <label>DNI</label>
                <InputText class="form-control" @bind-Value="p.DNI" />
            </div>

            <div class="form-group mt-2">
                <label>Nombre</label>
                <InputText class="form-control" @bind-Value="p.Nombre" />
            </div>

            <div class="form-group mt-2">
                <label>Apellido</label>
                <InputText class="form-control" @bind-Value="p.Apellido" />
            </div>

            <div class="form-group mt-2">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="p.Email" />
            </div>

            <div class="form-group mt-2">
                <label>Teléfono</label>
                <InputText class="form-control" @bind-Value="p.Telefono" />
            </div>

            <button class="btn btn-success mt-3" type="submit">Guardar cambios</button>
        </EditForm>
    }
}
<br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menú</button>
<br>
<DialogoConfirmacion @ref=dialogo Mensaje=@mensaje />

@code {
    Persona? p = null;
    int idPersona;
    string mensaje = "";
    bool visible = false;
    DialogoConfirmacion dialogo = null!;

    void Buscar()
    {
        try
        {
            p = PersonaConsulta.Ejecutar(idPersona);

            if (p != null)
            {
                visible = true;
                mensaje = "";
            }
            else
            {
                mensaje = $"No se encontró una persona con ID {idPersona}";
                visible = false;
                dialogo.Mostrar();
            }
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
            visible = false;
            dialogo.Mostrar();
        }
    }

    void Modificar()
    {
        try
        {
            if (Sesion.UsuarioActual == null)
            {
                mensaje = "Debes iniciar sesión";
                dialogo.Mostrar();
                Navigation.NavigateTo("/login");
                return;
            }

            if (p == null)
            {
                mensaje = "No hay persona seleccionada para modificar.";
                dialogo.Mostrar();
                return;
            }

            CasoModificacion.Ejecutar(p, Sesion.UsuarioActual.Id);
            mensaje = "Persona modificada correctamente.";
            dialogo.Mostrar();
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
            dialogo.Mostrar();
        }
    }

    void Volver() => Navigation.NavigateTo("/home");
}
