@page "/usuario/baja"
@rendermode InteractiveServer
@inject UsuarioBajaUseCase CasoBaja
@inject UsuarioConsultaUseCase UsuarioConsulta
@inject NavigationManager Navigation
@inject IServicioUsuarioSesion Sesion

<PageTitle>SGCD | Usuarios</PageTitle>

<h3>Eliminar Usuario</h3>

@if (!visible)
{
    <label class="mt-2" for="inp">ID a eliminar:</label>
    <InputNumber @bind-Value="idUsuario" class="form-control" id="inp" />
    <button class="btn btn-primary mt-2" @onclick="Buscar">Buscar</button>
}
else
{
    @if (u != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo electrónico</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Nombre</td>
                    <td>@u.Apellido</td>
                    <td>@u.CorreoElectronico</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger mt-2" @onclick="Eliminar">Eliminar</button>
    }
}
<br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menú</button>
<br>
<DialogoConfirmacion @ref=dialogo Mensaje=@error />

@code {
    Usuario? u = null;
    int idUsuario;
    string error = "";
    bool visible = false;
    DialogoConfirmacion dialogo = null!;

    void Buscar()
    {
        try
        {
            u = UsuarioConsulta.Ejecutar(idUsuario);

            if (u != null)
            {
                visible = true;
                error = "";
            }
            else
            {
                error = $"No se encontró un usuario con ID {idUsuario}";
                visible = false;
                dialogo.Mostrar();
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
            visible = false;
            dialogo.Mostrar();
        }
    }

    void Eliminar()
    {
        try
        {
            if (Sesion.UsuarioActual == null)
            {
                Navigation.NavigateTo("/");
                error = "Debes iniciar sesión";
                dialogo.Mostrar();
                return;
            }

            if (u == null)
            {
                error = "No hay usuario seleccionado para eliminar.";
                dialogo.Mostrar();
                return;
            }

            CasoBaja.Ejecutar(u.Id, Sesion.UsuarioActual.Id);
            u = null;
            visible = false;
            error = "Usuario borrado correctamente";
            dialogo.Mostrar();
        }
        catch (Exception ex)
        {
            error = ex.Message;
            dialogo.Mostrar();
        }
    }

    void Volver() => Navigation.NavigateTo("/home");
}