@page "/usuario/alta"
@rendermode InteractiveServer
@inject UsuarioAltaUseCase AltaUsuario
@inject NavigationManager Navigation
@inject IServicioUsuarioSesion Sesion

<h3>Alta de Usuario</h3>

    <form>
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" placeholder="Nombre" @bind="Nombre"><br>

        <label for="apellido">Apellido:</label>
        <input class="form-control" id="apellido" placeholder="Apellido" @bind="Apellido"><br>

        <label for="correo">Correo electrónico:</label>
        <input class="form-control" id="correo" type="email" placeholder="Correo electrónico" @bind="CorreoElectronico"><br>

        <label for="contraseña">Contraseña:</label>
        <input class="form-control" id="contraseña" type="password" placeholder="Contraseña" @bind="Contraseña"><br>
    </form>
    <button class="btn btn-primary" @onclick="Agregar">Aceptar</button>
    <button class="btn btn-secondary ms-2" @onclick="Volver">Volver al menú</button>

<DialogoConfirmacion @ref="dialogo" Mensaje="@error" />

@code {
    string Nombre = "";
    string Apellido = "";
    string CorreoElectronico = "";
    string Contraseña = "";
    string error = "";
    DialogoConfirmacion dialogo = null!;

    void Agregar()
    {
        try
        {
            var usuario = new Usuario
            {
                Nombre = Nombre,
                Apellido = Apellido,
                CorreoElectronico = CorreoElectronico,
                Contraseña = Contraseña
            };
            if (Sesion.UsuarioActual != null) {
                AltaUsuario.Ejecutar(usuario, Sesion.UsuarioActual.Id);
                error = "Usuario registrado correctamente";
                dialogo.Mostrar();
            } else {
                Navigation.NavigateTo("/");
                error = "Debes iniciar sesión";
                dialogo.Mostrar();
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
            dialogo.Mostrar();
        }
    }

    void Volver()
    {
        Navigation.NavigateTo("/home");
    }
}