@rendermode InteractiveServer
@if(_visible) {
    <div>
        <div>
            <h3>
                Se va a modificar al Evento ID: @(Eve != null ? Eve.Id.ToString() : "N/A")
            </h3>
            <div>
                @if (Eve != null)
                {
                    <input placeholder="Nombre Evento" @bind="Eve.Nombre" class="form-control">
                    <input placeholder="Fecha/hora Inicio" @bind="Eve.FechaHoraInicio" class="form-control">
                    <input placeholder="Duracion (hs)" @bind="Eve.DuracionHoras" class="form-control">
                    <input placeholder="Cupo Maximo" @bind="Eve.CupoMaximo" class="form-control">
                    <input placeholder="ID del Responsable" @bind="Eve.ResponsableId" class="form-control">
                    <textarea placeholder="Descripcion" @bind="Eve.Descripcion" class="form-control"></textarea>
                }
                <button class="btn btn-primary" @onclick="Guardar">Confirmar</button>
                <button class="btn btn-primary" @onclick="Cancelar">Cancelar</button>
            </div>
        </div>
    </div>
}

@code {
    public EventoDeportivo? Eve { get; set; }

    private bool _visible = false;

    public EventCallback<EventoDeportivo> OnConfirmado { get; set; }

    public void Mostrar() {
        _visible = true;
        StateHasChanged();
    }

    void Guardar() {
        _visible = false;
        OnConfirmado.InvokeAsync(Eve);
    }

    void Cancelar() {
        _visible = false;
    }
}