@rendermode InteractiveServer
@if (_visible && _personaEditada != null)
{
    <EditForm Model="_personaEditada" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h3 class="mt-3">
            Se va a modificar la Persona ID: @_personaEditada.Id
        </h3>

        <div class="form-group mt-2">
            <label>DNI</label>
            <InputText class="form-control" @bind-Value="_personaEditada.DNI" />
        </div>

        <div class="form-group mt-2">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="_personaEditada.Nombre" />
        </div>

        <div class="form-group mt-2">
            <label>Apellido</label>
            <InputText class="form-control" @bind-Value="_personaEditada.Apellido" />
        </div>

        <div class="form-group mt-2">
            <label>Teléfono</label>
            <InputText class="form-control" @bind-Value="_personaEditada.Telefono" />
        </div>

        <div class="form-group mt-2">
            <label>Email</label>
            <InputText class="form-control" @bind-Value="_personaEditada.Email" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-success me-2">Confirmar</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
        </div>
    </EditForm>
}

@code {
    public Persona? P { get; set; }

    private bool _visible = false;
    private Persona? _personaEditada;

    public EventCallback<Persona> OnConfirmado { get; set; }

    public void Mostrar()
    {
        if (P == null) {
            return;
        }
        _personaEditada = new Persona
        {
            Id = P.Id,
            DNI = P.DNI,
            Nombre = P.Nombre,
            Apellido = P.Apellido,
            Telefono = P.Telefono,
            Email = P.Email
        };

        _visible = true;
        StateHasChanged();
    }

    void Guardar()
    {
        _visible = false;
        if (_personaEditada != null)
            OnConfirmado.InvokeAsync(_personaEditada);
    }

    void Cancelar()
    {
        _visible = false;
    }
}
